body {
  padding-top: 50px;
  background: #f4f4f4;
}

.margin-right {
  margin-right: 10px;
}

// .navbar-brand {
//   float: none;
//   }
//
// .navbar-center
// {
//     position: absolute;
//     width: 100%;
//     left: 0;
//     top: 0;
//     text-align: center;
//     margin: auto;
//     height:100%;
// }
